* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.container {
    margin: 2rem;
    border: 2px solid black;
    
}

h1, h2, section {
    margin: 1rem;
}

section {
    border: 2px solid blue;
    border-radius: 0 0.5rem; /* left and right */
    /* margin-bottom: 3rem; */
    padding: 0.5em;
    background-color: yellow;
    /* background: ;  can put the image on background*/
}

/* this b tax inside of section tax */
section > b {
    color:  red;
}


