.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    margin: auto;
    transform: translateY(50%);
    background: #C0FFEE;
    width: fit-content;
    padding: 1rem;
    border: 5px solid green;
    border-radius: 1rem;
}